<header class="app-footer">
    <app-container>
      <div class="inner-content">
        <ul>
          <li>
            <img
            src="assets/imagens/logo-com-tagline.png"
            alt="Logo da aplicação Jornada"
          >
          </li>
          <li>
            Horário de atendimento: 08h - 20h (Segunda a Sábado)
          </li>
          <li>
            Desenvolvido por Alura. Projeto fictício sem fins comerciais.
          </li>
        </ul>
        <ul class="socials">
          <li>
            Acesse nossas redes:
          </li>
          <li>
            <button mat-icon-button>
              <img src="assets/icones/whatsapp.png" alt="whatsapp ícone">
            </button>
            <button mat-icon-button>
              <img src="assets/icones/instagram.png" alt="instagram ícone">
            </button>
            <button mat-icon-button>
              <img src="assets/icones/twitter.png" alt="twitter ícone">
            </button>
          </li>
        </ul>
      </div>
    </app-container>
</header>
