<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix *ngIf="iconePrefixo">
    {{ iconePrefixo }}
  </mat-icon>
  <input
    matInput
    [name]="label"
    ngDefaultControl
    [formControl]="controle"
    [matAutocomplete]="auto"
    [placeholder]="placeholder"
  >
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of estadosFiltrados$ | async" [value]="option">
      {{ option.nome }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
