<section class="homepage">

  <app-banner
  src="assets/imagens/banner-homepage.png"
  alt="Banner da aplicação">
  </app-banner>

  <app-container>
    <h2>Passagens</h2>
    <app-form-busca></app-form-busca>

    <h2>Promoções</h2>
    <div class="card-wrapper">
      <app-card-busca
        src="assets/imagens/Veneza.png"
        alt="Veneza"
        ></app-card-busca>
        <app-card-busca
        src="assets/imagens/GrandCanyon.png"
        alt="Grand Canyon"
        ></app-card-busca>
        <app-card-busca
        src="assets/imagens/Patagonia.png"
        alt="Patagonia"
      ></app-card-busca>
        <app-card-busca
        src="assets/imagens/Turquia.png"
        alt="Turquia"
      ></app-card-busca>
        <app-card-busca
        src="assets/imagens/Media.png"
        alt="Atacama"
      ></app-card-busca>
        <app-card-busca
        src="assets/imagens/CordilheiradosAndes.png"
        alt="Cordilheira dos Andes"
      ></app-card-busca>
    </div>

    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimentos
        src="assets/imagens/avatar1.png"
      ></app-card-depoimentos>
      <app-card-depoimentos
        src="assets/imagens/avatar2.png"
      ></app-card-depoimentos>
      <app-card-depoimentos
        src="assets/imagens/avatar3.png"
      ></app-card-depoimentos>
    </div>
  </app-container>

  <app-banner
    src="assets/imagens/banner-homepage-rodape.png"
    alt="Banner da aplicação Jornada"
  >
  </app-banner>
</section>
